.c-hero {
  background-color: #21293d;
  color: #9596a0;
  padding-top: $ultra-large-plus-value;
  padding-bottom: $large-plus-value;
  padding-left: $large-plus-value;
  padding-right: $large-plus-value;
}
