.c-header {
  background-color: $color-redwine;
  color: $color-white;
  padding-top: space(6); 
  padding-bottom: space(6); 
}

.c-header__container {
  display: flex;
}

.c-header__right {
  margin-left: auto;
  flex-shrink: 0;
}
.c-header__middle {
  margin-left: space(4);
  margin-right: space(4);
  @include respond-to("tiny-up") {
    margin-left: space(6);
  }
}
.c-header__left {
  margin-left: space(2);
  display: flex;
  align-items: center;
  @include respond-to("tiny-up") {
    margin-left: space(1);
  }
}

.c-herotitle {
  margin: 0; 
  font-size: $h1-size;
  line-height: 1;
  letter-spacing: -0.02rem;
}

.c-heropunchline {
  font-size: $h3-size;
  margin: 0;
  margin-top: space(2);
  color: $color-halfwhite;  
}

.c-heroauthor {
  font-size: $h5-size;
  margin-top: space(2);
  color: $color-halfwhite;
  a {
    color: #f2e0d5
  }
}

.c-heroarticles {
  color: #f2e0d5;
  font-size: $h4-size;
  text-decoration: none;
  border-bottom: 4px solid #bc4142;
  padding: space(1) 0;
}
.c-heroarticles:hover {
  border-bottom: 4px solid orange;
}
