.c-jumbo {
}

.c-jumbotitle {
  font-size: 4rem;
  letter-spacing: -0.025em;
  text-align: center;
  margin: 0 space(0);
  padding: space(6) 0;
  line-height: 1.2;
  @include respond-to("tiny-up") {
    font-size: 5.1rem;
    margin: 0 space(4);
  }
}


.c-jumbotext {
  font-size: 1.9rem;
  line-height: 1.9;
}

.c-jumbotext--first {
  margin-top: 0;
}

