.c-notice {
  background-color: $color-yellow;
  margin: space(2) space(6) * -1;
  padding: space(6);
}

.c-notice__link {
  font-weight: bold;
  color: $color-darkyellow;
}

.c-notice__paragraph {
  font-size: 1.7rem;
  line-height: 1.8;
}
